/* Global Style */
@font-face {
  font-family: Taviraj;
  src: url(../font/Taviraj-Regular.ttf);
}

@font-face {
  font-family: Kalam;
  src: url(../font/Kalam-Regular.ttf);
}

:root {
  --main-black: #1b1d1f;
  --main-white: #ffffff;
  --main-blue-1: #435c7d;
  --main-blue-2: #54739b;
  --main-blue-3: #6c8ab0;
  --main-blue-4: #8aa1c0;
  --main-blue-5: #a7b9d0;
  font-size: calc(0.7em + 0.9vw);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Taviraj;
}

/* End of Global Style */

main {
  background: var(--main-blue-5);
  min-height: 100vh;
}

.counter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.button {
  text-transform: capitalize;
  padding: 0.3em 1em;
  font-family: Kalam;
}

.red {
  color: red;
}

.green {
  color: green;
}
